

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule "admin/manage.html"     "admin/index.php"
RewriteRule "manage.html"   "index.php"
RewriteRule ^show/([^/]+)-([^/]+).html$   show.php?title=$1&id=$2 [L]
RewriteRule ^admin/show/([^/]+)-([^/]+).html$   admin/show.php?title=$1&id=$2 [L]
RewriteRule ^admin/edit/([^/]+)-([^/]+).html$   admin/edit.php?title=$1&id=$2 [L]